# Virtual environment
__pycache__/
*.pyc
.venv/

# System-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Python environment variables or secret keys
.env

# IDE configuration files
.vscode/
.idea/

# Flask instance folder (for configuration files, etc.)
instance/
